<!DOCTYPE html>
<html>
<head>
  <title>SAKE ZUKI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <h1>SAKE ZUKI</h1>
    <div class="panda-image">
    </div>
    <div class="speech-bubble">
      <p>お酒を飲もう〜</p>
      <%= image_tag('panda.png', alt: 'パンダ') %>
    </div>
    <div class="buttons">
      <%= link_to 'ログインしよ〜', login_path, class: "button" %>
      <%= link_to '登録しよ〜', new_user_path, class: "button" %>
    </div>
    <div class="footer">
      <%= link_to 'お問い合わせ', contact_path %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path %>
</div>

  </div>
</body>
</html>