<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<h1>ログイン</h1>

<%= form_tag login_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" %>
    <%= link_to '登録しよ〜', new_user_path, class: "button" %>
  </div>
  <%= link_to t('.password_forget'), new_password_reset_path %>
  <%= link_to 'トップ', root_path, class: "button" %>
<% end %>
