<!DOCTYPE html>
<html>
<head>
  <title>SAKE ZUKI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .flex-grow-1-wrapper {
    flex-grow: 1;
  }
</style>
</head>
<body class="d-flex flex-column min-vh-100">
  <%= render 'shared/before_login_header' %>

  <div class="container flex-grow-1-wrapper">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <h1>パスワードリセット</h1>
        <%= form_with url: password_resets_path do |f| %>
          <div class="mb-3">
            <%= f.label :email, "メールアドレス", class: "form-label" %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <%= f.submit "送信", class: "btn btn-primary" %>
        <% end %>
        <div class="text-center mt-3">
            <%= link_to 'トップ', root_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer bg-info text-white text-center py-3 mt-auto">
      <%= render 'shared/before_login_footer' %>
    </div>
</body>
</html>