<h1>お酒を選ぼう！</h1>

<div class="drink-list">
  <% @drinks.each do |drink| %>
    <div class="drink-item" id="drink_<%= drink.id %>">
      <div class="drink-details">
        <p><%= drink.name %></p>
        <p><%= drink.volume %>ml ・ <%= drink.degree %>%</p>
        <%= button_to '飲む', records_path(drink_id: drink.id, quantity: 1), method: :post, class: 'drink-button', data: { turbo: false } %>
      </div>
    </div>
  <% end %>
  <%= link_to '作ったお酒を登録する！', new_drink_path, class: "button register-button" %>
  <%= link_to '戻る', top_path, class: "button back-button" %>
</div>