<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>お酒を選ぼう！</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <!-- 必要に応じてChart.jsやChartkickのJavaScriptを読み込む -->
</head>
<body class="d-flex flex-column min-vh-100">
  <header class="mb-5">
    <%= render 'shared/header' %>
  </header>

  <main class="container mt-3 mb-3 flex-grow-1">
    <h1 class="text-center mb-4">お酒を選ぼう！</h1>
    <div class="drink-list">
      <%= form_tag(records_path, method: :post) do %>
        <div class="row">
        <% @drinks.each do |drink| %>
            <div class="col-6 col-md-2 mb-4">
              <div class="card">
              <%= image_tag(image_filename_for_category(drink.category_id), alt: drink.name, class: "card-img-top drink-image img-fluid") %>
                <div class="card-body">
                  <h5 class="card-title"><%= drink.name %></h5>
                  <p class="card-text"><%= drink.volume %>ml ・ <%= drink.degree %>%</p>
                  <div class="quantity-controls d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" onclick="changeQuantity('<%= drink.id %>', -1)">-</button>
                    <input type="text" name="records[<%= drink.id %>][quantity]" id="quantity_<%= drink.id %>" value="0" class="form-control text-center">
                    <button type="button" class="btn btn-secondary" onclick="changeQuantity('<%= drink.id %>', 1)">+</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-1 d-flex justify-content-center">
          <%= submit_tag '飲む！', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="mt-1 d-flex justify-content-around">
        <%= link_to '自分で作ったお酒！', new_drink_path, class: "btn btn-info" %>
        <%= link_to '戻る', top_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </main>

  <footer class="bg-info text-white text-center py-3 mt-auto">
    <%= render 'shared/footer' %>
  </footer>
</body>
</html>

<script>
function changeQuantity(drinkId, change) {
  var quantityInput = document.getElementById('quantity_' + drinkId);
  var currentQuantity = parseInt(quantityInput.value);
  var newQuantity = currentQuantity + change;
  if (newQuantity < 1) newQuantity = 1; // 数量が1未満にならないように
  quantityInput.value = newQuantity;
}
</script>