<%= form_with(model: @user, local: true) do |form| %>
  <div class="form-field">
    <%= form.label :username, "名前" %>
    <%= form.text_field :username, placeholder: "名前を入力" %>
  </div>

  <div class="form-field">
    <%= form.label :email, "メール" %>
    <%= form.email_field :email, placeholder: "メールアドレスを入力" %>
  </div>

  <div class="form-field">
    <%= form.label :crypted_password, "パスワード" %>
    <%= form.password_field :crypted_password %>
  </div>

  <div class="form-field">
    <%= form.label :weight, "体重" %>
    <%= form.number_field :weight, placeholder: "体重を入力", step: 0.1 %>
  </div>

  <div class="actions">
    <%= form.submit "登録しよ〜" %>
  </div>
<% end %>