
<nav class="navbar navbar-expand navbar-light bg-info fixed-top">
  <div class="container">
    <!-- ロゴやアプリケーション名など、ナビゲーションバーのブランドを設定 -->
    <%= link_to 'SAKE ZUKI', top_path, class: "navbar-brand" %>
    
    <!-- トグルボタンの部分は削除 -->
    
    <!-- ナビゲーションリンク -->
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to '二日酔い', check_alcohol_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'グラフ', drinking_graph_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex" action="<%= logout_path %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= button_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-outline-danger' %>
      </form>
    </div>
  </div>
</nav>