<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>親密度LV.1</title>
  <!-- スタイルシートのリンクやその他のメタタグをここに挿入 -->
</head>
<body>
  <header>
    <!-- ヘッダーに含まれる可能性があるナビゲーションやロゴ -->
  </header>

  <main>
    <h1>進捗度LV.1</h1>
    <%= link_to '飲酒グラフ', drinking_graph_path, class: 'button' %>
    <div id="progress-bar">
      <!-- 進捗バーの実装 -->
    </div>
    <div class="speech-bubble">
      <p>お酒を飲もう！</p>
    </div>
    <div class="panda-image">
    <% if @character %>
    <div class="selected-character">
    <%= image_tag(@character.animal.downcase + '.png', alt: @character.animal) %>
      <p><%= @character.animal %></p>
    </div>
  <% end %>
      <img src="path_to_panda_image.jpg" alt="パンダ">
    </div>
    <div class="actions">
    <%= link_to '飲むよ！', choose_drink_path, class: 'button' %>
    <%= link_to "共有！", "https://twitter.com/intent/tweet?text=お好きなテキスト", target: "_blank", class: "button" %>
    </div>
    <%= button_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
  </main>

  <footer>
    <!-- フッターに含まれる可能性があるコピーライト情報やリンク -->
  </footer>

  <script>
    // 必要に応じてJavaScript
  </script>
</body>
</html>