<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>親密度LV.1</title>
  <!-- スタイルシートのリンクやその他のメタタグをここに挿入 -->
</head>
<body>
  <header>
    <!-- ヘッダーに含まれる可能性があるナビゲーションやロゴ -->
  </header>

  <main>
    <h1>進捗度LV.1</h1>
    <%= link_to '飲酒グラフ', drinking_graph_path, class: 'button' %>
    <div id="progress-bar">
      <!-- 進捗バーの実装 -->
    </div>
    
    <!-- ここから吹き出しの表示 -->
    <div class="character-speech">
    <%= image_tag("speech.png", alt: "speech bubble", class: "speech-bubble") %>
    <div class="speech-text">
      <% if @speech_text %>
        <span id="time-to-sober" data-hours="<%= @hours %>" data-minutes="<%= @minutes %>">
          <%= @speech_text %>
        </span>
      <% else %>
        <%= @random_speech.alcohol_speeches %>
      <% end %>
    </div>
  </div>

    <!-- ここまで吹き出しの表示 -->

    <div class="panda-image">
      <% if @character %>
        <div class="selected-character">
          <%= image_tag(@character.animal.downcase + '.png', alt: @character.animal) %>
          <p><%= @character.animal %></p>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= link_to '飲むよ！', choose_drink_path, class: 'button' %>
      <%= link_to "共有！", "https://twitter.com/intent/tweet?text=お好きなテキスト", target: "_blank", class: "button" %>
    </div>
    <%= button_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
  </main>

  <footer>
    <!-- フッターに含まれる可能性があるコピーライト情報やリンク -->
  </footer>

  <script>
  
  document.addEventListener('DOMContentLoaded', () => {
    const timeToSober = document.getElementById('time-to-sober');
    if (timeToSober) {
      let hours = parseInt(timeToSober.dataset.hours, 10);
      let minutes = parseInt(timeToSober.dataset.minutes, 10);
  
      const updateTimer = () => {
        if (minutes > 0 || hours > 0) {
          if (minutes === 0 && hours > 0) {
            hours -= 1;
            minutes = 59;
          } else {
            minutes -= 1;
          }
          timeToSober.textContent = `あと${hours}時間${minutes}分でアルコールが抜けるよ！`;
          timeToSober.dataset.hours = hours.toString();
          timeToSober.dataset.minutes = minutes.toString();
        }
      };
  
      setInterval(updateTimer, 60000);
    }
  });
  </script>
</body>
</html>